.landing-page {
    background-color: rgb(34, 34, 43);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    text-align: center;
    color: white;
    
}

.text-header {

}

#landing-page-particles {
    position: absolute;
    width: 100%;
    height: 100%;
}