.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 300px;
    background-color: thistle;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro-message {
    width: 80%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}