.card-page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.card-page-wrapper {
    width: 80%;
}

.card-page-header {
    margin: 0;
}

.page-divider {
width: 100%;
height: 2px;
background-color: darkgray;
}

.card-page-carousel-wrapper {
    width: 80%;
    /* max-width: 790px; */
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 300px;
    box-shadow: lightgrey 0px 1px 4px 1px;
    margin-bottom: 1.5em;
}

.card-header {
    height: 10%;
    width: 100%;
    background-color: rgb(224, 234, 245);
    border-radius: 4px 4px 0px 0px;
}

.card-image {
    height: 60%;
    width: 100%;
}

.card-contents {
    height: 30%;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: rgb(224, 234, 245);
}